[Unit]
Description=Yamtrack Celery beat scheduler
After=network.target postgresql.service redis.service
Requires=postgresql.service redis.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/src/
EnvironmentFile=__INSTALL_DIR__/.env
ExecStart=__INSTALL_DIR__/venv/bin/celery \
    --app config beat \
    --loglevel INFO
StandardOutput=append:/var/log/__APP__/__APP__-celery-beat.log
StandardError=inherit
StopASGroup=true

# Sandboxing
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelLogs=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
DevicePolicy=closed
SystemCallArchitectures=native
RemoveIPC=yes
UMask=0027

[Install]
WantedBy=multi-user.target
